.debug [class*="col-"] {
  height: 200px;
  background-color: pink;
  border: 1px solid red;
}

#navbar {
  background: #2C3E50;
}

#site_header {
  background: #1ABC9C;
}

#about {
  background: #1ABC9C;
}

#site_footer {
  background: #3A546D;
}
